#header {
    padding-top: 100px;
}

body {
    background-color: #ececec;
}

.navigation {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}

.bg-modern {
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: rgb(0 121 67 / 14%) 0 -1px 1px inset;
    background-color: rgba(0, 4, 19, 0.82);
}

.nav-link {
    transition: ease-in-out 0.1s;
    margin-right: 2rem;
}

.nav-link:active {
    transform: scale(0.9);
    transition: ease-in-out 0.1s;
}

.btn-modern {
    background-color: rgba(0, 4, 19, 0.82);
    color: white;
}

.btn-modern:hover {
    background-color: rgba(0, 4, 19, 0.78);
    color: white;
}

.cardsDash {
    display: grid;
    grid-auto-flow: column;
    overflow-y: auto;
}

.img {
    object-fit: contain;
    width: 220px;
    border-radius: 20px;
}